*.DS_Store
/phpDocumentor.phar
/attachments/delivers/*.jpg
/attachments/delivers/*.png
/attachments/products/*.jpg
/attachments/products/*.png
/attachments/trademarks/*.jpg
/attachments/trademarks/*.png
/vendor/