//font
$font_0: PT Sans;
$font-1:'PT Sans', sans-serif;
$font-2:'Raleway', sans-serif;
$font-themify: themify;
$font-awesome: FontAwesome;
$font-work-sans: work-Sans;
$font-nunito: Nunito;
$font-serif: sans-serif;

//color
$theme-color1: #fb0000;
$theme-color2: #bf0010;
$theme-color3: #f6d51f;
$body-back: #f2f8f9;
$bg-light: #f9f9f9;
$bg-light1: #f9f9f9;
$body-text: #777;
$black: #000000;
$black1: #303030;
$white: #ffffff;
$white1: #f1f5f8;
$white2: #dee2e6;
$dark: #444444;
$light-gray: #aaaaaa;
$gray-1: #f1f1f1;
$gray-2: #999999;
$gray-3: #8d8d8d;
$gray-4: #eeeeee;
$gray-5: #939b9e;
$gray-6: #bfbfbf;
$light-border: #dddddd;
$icon-color: #777777;
$hot-deal: #eef3f4;
$follow-back: #f7f7f7;
$red: #ff0000;
$font-color: #333333;
$light-green: #4ead4e;
$bg-theme: #1136b2;
$fbcolor: #39539a;
$twtcolor: #2fb0f6;
$instacolor: #f09433;
$linkedin-color: #0C66C2;

$primary-color: $theme-color1;
$secondary-color: $theme-color1;
$success-color: #0f5132;
$info-color: #00a8ff;
$warning-color: #00ced1;
$danger-color: #9A444B;
$light-color: #f8f8f9;
$light-semi-gray: #eff0f1;
$light-gray: #e8ebf2;
$dark-gray: #898989;
$dark-color: #2a3142;
$transparent-color: transparent;

// General variables
$theme-font-color: #1b252a;
$theme-body-font-color: #313131;
$theme-body-sub-title-color: #777777;
$header-size: 80px;

// Sidebar main settings
$sidebar-width: 255px;
$sidebar-position: fixed;
$sidebar-shadow: 0 0 11px rgba(143, 164, 232, 0.08);
$sidebar-z-index: 9;
$sidebar-transition: 0.3s;

// Sidebar profile settings
$sidebar-user-section-padding: 25px 10px;
$sidebar-user-section-shadow: 3px 2px 7px -1px rgba(127, 151, 249, 0.13);
$sidebar-profile-name-txt-transfer : uppercase;
$sidebar-profile-name-txt-weight : 600;
$sidebar-profile-name-letter-specing : 1.5px;
$sidebar-profile-name-marging : 3px;
$sidebar-profile-sub-title-font-size: 10px;
$sidebar-profile-sub-title-margin: 0px;
$sidebar-profile-img-shadow: 0 0 15px rgba(255, 255, 255, 0.697);

// Sidebar main menu setting
$sidebar-menu-padding: 20px;
$sidebar-menu-list-style: none;
$sidebar-menu-list-margin: 0;

$sidebar-icon-size: 14px;
$sidebar-icon-margin: 14px;
$sidebar-icon-stroke-width: 3px;
$sidebar-font-size: 14px;
$sidebar-letter-specing: 0.5px;
$sidebar-font-weight: 600;
$sidebar-font-color: $white;
$sidebar-padding-top: 12px;
$sidebar-padding-bottom: 12px;
$sidebar-sub-header-padding: 15px;
$sidebar-sub-header-margin: 0;
$sidebar-heading-hover-padding: 3px;
$sidebar-arrow-size: 15px;

$sidebar-open-icon: "\f107";
$sidebar-close-icon: "\f105";
$sidebar-icon-font-family: $font-awesome;

// Main header left settings
$main-header-left-bg-color: $transparent-color;
$main-header-padding: 12px;
$main-header-z-index: 9;
$main-header-right-padding: 0 40px;
$main-header-right-nav-right: 0px;
$main-header-right-nav-icon-size: 18px;
$main-header-right-nav-icon-margin-top: 10px;

// Header settings
$main-header-bg-color: $theme-color1;
$main-header-position: fixed;
$main-header-top: 0;
$main-header-z-index: 10;
$main-header-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
$main-header-padding-top: 17px;

// Page settings
$page-body-padding: 0 15px;
$page-header-padding: 30px;
$page-title-font-size: 24px;
$page-title-margin-bottom: 0;
$page-title-font-weight: 800;
$page-title-text-tranform: uppercase;
$breadcrumb-size: 14px;
$breadcrumb-svg-icon-align: text-top;

// General tag settings
$body-font-size: 14px;
$ul-padding-left: 0px;
$ul-padding-right: 0px;
$btn-focus-box-shadow: none;
$all-focus-outline-color: $primary-color;

$paragraph-font-size : 13px;
$paragraph-line-height : 1.7;
$paragraph-letter-spacing : 0.7px;

$code-tag-color: $primary-color;
$code-tag-bg-color: $light-color;
$code-tag-padding: 3px;
$code-tag-margin: 0 3px;
$code-tag-border-radius: 2px;

$blockquote-padding: 15px;
$blockquote-border: 4px solid $light-gray;

$footer_top_bgr_color: $light-color;

// Card settings
$card-padding: 30px;
$card-margin-bottom: 30px;
$card-border-width: 0px;
$card-border-color: $light-color;
$card-border-radius: 8px;
$card-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
$card-header-font-weight: 600;
$card-header-bg-color: $white;
$card-header-font-size: 18px;
$card-header-font-transform: none;
$card-header-span-size: 12px;
$card-header-span-color: $theme-body-sub-title-color;
$card-body-bg-color: $transparent-color;
$card-footer-bg-color: $white;

// Buttons setting
$btn-font-size : 14px;
$btn-padding : 0.6rem 1.75rem;
$btn-lg-font-size: 18px;
$btn-sm-font-size: 12px;
$btn-xs-font-size: 11px;
$btn-xs-padding:  0.05rem 0.4rem;
